/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */


@media all and (max-width: 479px) {
 
  .logo{
    font-size:52px;
    
  }

  nav ul {
    display: flex;
    justify-content: center;
    padding-bottom: 14px;;
  }
  .input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .about-container{
    display: flex;
    flex-direction: column;
  }

  .about-container img{
    width: 100%;
    margin-bottom: 15px;
  }

  #ideas img{
    width: 100%;
  }

  #host img{
    width:100%
  }
}



@media all and (min-width: 480px) {


 
  header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
nav ul {
  display: flex;
  justify-content: space-around;
}


.logo {
  display: flex;
  align-items: center;
   font-family: "Pangolin", cursive;
   font-size: 30px;
   color: #fff;
   margin-bottom: 10px;
   margin-left: 10px;
 }


 nav ul li {
  font-size: 10px;
 }
 ul{
   margin-right: 10px;
   margin-top: 12px;
   margin-right: 0px;
 }


 form{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 5px ;
  /* flex-direction: row; */
 } 
 
 .input-container{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
 }

  input::placeholder{
font-size: 8px;
 }
 select{
  font-size: 10px;
 }

 label{
  font-size: 10px;
 }
 form input{
  width:71px;
  font-size:9px
  ;

} 

form select{
  width:72px;
}
form button{
  width:70px;
  margin-top: 10px;
  padding: 11px 7px 7px 7px;
  font-size:9px;
}

.about-container img{

  width:30%;
  margin-right: 10px;
}
 .about-container {
  display: flex;
  justify-content: row;
 }

 /* largern screen increase */

 .about-container p {
  font-size: 6.3px;
 }

 .alternate-background{
  padding-top: 0px;
 }

 #about h2{
  font-size: 15px;
  padding-top: 12px;
  margin-left: 110px;
 }

 .para{
  display: flex;
  flex-direction: column;
  justify-content: center;
 }


 .idea-container{
  display: flex;
  flex-direction: column;
  /* margin-right: 10px; */
 }

 .container img{
  width:200px;
 }
 .container{
  display: flex;
  justify-content: space-around;
 }

 .idea-container h3{
  font-size: 9px;
 }

 #host{
  display: flex;
  justify-content: row;
 }
.para-container{
  display: flex;
  flex-direction: column;
  font-size: 6px;
  justify-content: center;
}

.para-container h2{
  font-size: 10px;
  margin-bottom: 0px;
}
#host.alternate-background{

  padding-top:15px
}

#host img{
  width: 40%;
  margin-left: 13px;
}
}



@media all and (min-width: 720px) {
  
 .about-container p {
  font-size: 9.2px;
 }

 .para-container{
  font-size: 8px;
 }

 .container img{
  width:340px;
 }

 .idea-container h3{
  font-size: 15px;
 }
 .para-container{
  font-size: 10px;
 }

 .para-container h2{
  font-size: 14px;
 }

 #about h2{
  margin-left: 180px;
 }

 
 input::placeholder{
  font-size: 12px;
   }
   select{
    font-size: 12px;
   }
  
   label{
    font-size: 12px;
   }
   form input{
    width:100px;
    font-size:13px
    ;
  
  } 
  
  form select{
    width:95px;
  }

  form button{
    width:70px;
    margin-top: 10px;
    padding: 11px 14px 11px 14px;
    font-size:11px;
  }
  #host img{
    width:50%;
  }
}


@media all and (max-width: 280px){
  input::placeholder{
    font-size: 10px;
     }
     select{
      font-size: 10px;
     }
    
     label{
      font-size: 9px;
     }
     form input{
      width:80px;
      font-size:11px
      ;
    
    } 
    
    form select{
      width:80px;
    }
#stay h2{
  font-size: 18px;
}

.logo{
  font-size: 28px;
}
}

@media all and (min-width: 1024px){

  
 .container img{
  width:400px;
 }
 #about h2{
  font-size: 20px;
  margin-left: 250px;
 }
  
}

@media all and (min-width: 1280px){

  
  .container img{
   width:550px;
  }
   
  .about-container p {
    font-size: 20px;
   }
   .para-container{
    font-size: 19px;
   }

   .para-container h2{
    font-size: 20px;
    margin-bottom: 3px;
   }

   .para p{
    font-size: 17px;
   }

   #about h2{
    font-size: 20px;
    margin-left: 320px;
   }
   
  #host img{
    width:37%;
  }

  
 }